
.nav-sub{
    color: white;
    padding: 10px;
    background-color: #396cf0;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}
.section1{
    padding: 80px 30px;
}
.section2{
    padding: 30px 0px;
}
.section2-each{
    padding: 20px 0px;
}
.section2-img{
    width: 315px;
    height: 315px;
    border-radius: 15px;
}
.accordion{
    width: 90%;
}
#footer{
    background-color: black;
    color: white;
    
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 80px 30px;
    justify-content: space-around;
    font-size: 15px;
}
.footer-element{
    
    padding: 10px 10px;
}
.footer-h{
    padding-bottom: 10px;
}
.list-footer{
    list-style-type: none;
    padding: 0px;

}
.my{
    padding: 20px 0px;
    line-height: 1.5;
    padding-right: 5px;
}
.mr{
    margin-right: 20px;
}
.footer-list-hover{
    padding: 5px 0px;
    color: #fff;
}
.line-footer{
    background-color: #fff;
    width: 30%;
    height: 3px;
    
    margin-bottom: 40px;
}
.footer-list-hover:hover{
    color: #396cf0;
}
.closed{
    color: #fff;
}
.closed:hover{
    color: #396cf0;
}
.footer-news-letter{
    background-color: #545454;
    display: flex;
    padding: 30px 20px;
}
@media screen and (max-width:992px){
    .footer-content{
       grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:576px){
    .footer-content{
       grid-template-columns: repeat(1,1fr);
    }
    .footer-content{
        padding: 0px;
    }
}